@media (max-width: 768px) {
  .header {
    flex-direction: column;
  }

  .header nav ul {
    flex-direction: column;
    gap: 10px;
  }
}


.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: 100px;
  background-color: #ff0000f1;
  color: white;
}

@keyframes logoAnimation {
  0% {
    transform: scale(50) rotate(0deg); 
    opacity: 1;
  }
  50% {
    transform: scale(10) rotate(180deg); 
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

.logo img {
  height: 100%;
  max-height: 100px;
  object-fit: contain;
  border-radius: 10px;
  margin-left: 100px;

  animation: logoAnimation 2s ease-out; 
  animation-fill-mode: forwards; 
}

/* .logo img:hover {
  transform: rotate(360deg);
} */

nav ul {
  list-style: none;
  display: flex;
  margin-right: 100px;
}

nav ul li{
  margin:0 15px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.header nav ul li a:hover {
  color: #ffcc00;
}

